<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Patent</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login1</display-name>
    <servlet-name>Login1</servlet-name>
    <servlet-class>Servlet.Login1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login1</servlet-name>
    <url-pattern>/Login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>Servlet.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rate</display-name>
    <servlet-name>rate</servlet-name>
    <servlet-class>rate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rate</servlet-name>
    <url-pattern>/rate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>trial</display-name>
    <servlet-name>trial</servlet-name>
    <servlet-class>Servlet.trial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trial</servlet-name>
    <url-pattern>/trial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionExample</display-name>
    <servlet-name>SessionExample</servlet-name>
    <servlet-class>Servlet.SessionExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionExample</servlet-name>
    <url-pattern>/SessionExample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFileName</display-name>
    <servlet-name>GetFileName</servlet-name>
    <servlet-class>Servlet.GetFileName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFileName</servlet-name>
    <url-pattern>/GetFileName</url-pattern>
  </servlet-mapping>
</web-app>